<h1 class="mt-3 font-monospace fw-bold text-center">Result</h1>
<div class="d-flex justify-content-evenly p-5">
<%= @score %>
</div>
<p class= "text-center">
  <%= link_to "Play again", new_path %>
</p>
